<div>
    <h2>About this page</h2>
    <div>
        <p>State and local laws require candidates to publicly report the financial activity of their campaign committee. This includes the names of individuals who contribute $100 or more in a calendar year and how funds are spent.</p>
        <p>Candidates who participate in San Francisco's Public Financing Program can receive matching City funds for contributions from local residents.</p>
        <p>In addition, third-party committees may raise and spend money to support or oppose a candidate, as long as their activity is not coordinated with the candidate's campaign.</p>
    </div>
    <p>
        <a href="/more.html" class="link-light">Learn More ></a>
    </p>
</div>