
    <div class="row {{include.wrap_css}}">
        {%- if include.title -%}
        <h3>{{include.title}}</h3>
        {%- endif -%}
        {%- include card-n.html
            title=include.first_title
            text=include.first_text
            card_col='col-12 col-md-6'
            card_class='money-card-1 eth-shadow'
            card_faicon='fa-hand-holding-dollar'
        -%}
        {%- include card-n.html
            title=include.second_title
            text=include.second_text
            card_col='col-12 col-md-6'
            card_class='money-card-2 eth-shadow'
            card_faicon='fa-money-check'
        -%}
    </div>
