
<div class="{{include.wrap_css}}">
    {%- if include.title -%}
    <h3>{{include.title}}</h3>
    {%- endif -%}
    <div class="d-flex flex-wrap column-gap-3 row-gap-3">
        <div class="contributions-expenses">
            <div class="card money-card money-card-1 eth-shadow">
                <div class="card-body">
                    <p class="card-title"><i class="fa-regular fa-hand-holding-dollar"></i> {{include.first_title}}</p>
                    <p class="card-text fs-3 fw-semibold">
                        <span class="currency">{{ include.first_text }}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="contributions-expenses">
            <div class="card money-card money-card-2 eth-shadow">
                <div class="card-body">
                    <p class="card-title"><i class="fa-regular fa-money-check"></i> {{include.second_title}}</p>
                    <p class="card-text fs-3 fw-semibold">
                        <span class="currency">{{ include.second_text }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>