<div class="{{include.div_class}}">
    <h3 id="top-contributors" class="hover-link">
            {%- if include.title -%}
                {{include.title}}
            {%- else -%}
                Top Contributors
            {%- endif %}
            <i data-bs-toggle="offcanvas" data-bs-target="#top-contributorsTT" class="fs-5 fa-regular fa-circle-info"></i>
            <a class="icon d-none" href="#top-contributors"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
        </h3>
    {%- if include.subtitle -%}
        <h4>{{include.subtitle}}</h4>
    {%- endif -%}

    <table class="table {{- include.table_class -}}">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th></tr>
        </thead>
        <tbody>
            {%- for contributor in include.contributors -%}
            <tr>
                <td>{{contributor[0]}}</td>
                <td class="currency">{{ contributor[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
