<nav aria-label="Navbar for Election pages" class="py-2 text-bg-dark">
    {%- assign election = page.election -%}
    {%- if election == nil -%}
    {%- assign election = '2024-11-05'-%}
    {%- endif -%}
    {%- assign current_pages = site.pages | where: "election", election -%}
    <div class="container-md d-flex justify-content-between align-items-center flex-wrap row-gap-3">
        <ol class="breadcrumb m-0">
            {% for crumb in page.breadcrumbs %}
                {% if forloop.last %}
                    <li class="breadcrumb-item active" aria-current="page">{{ crumb[0] | truncate: 30  }}</li>
                {% else %}
                    <li class="breadcrumb-item"><a class="" href="{{site.baseurl}}/{{crumb[1]}}/">{{crumb[0]}}</a></li>
                {% endif %}
            {% endfor %}
        </ol>

        <div class="mx-auto mx-lg-0">
            {%- assign contributors_page = current_pages | where: "layout", "contributors" | first -%}
            <a href="{{ contributors_page.url | relative_url }}" class="btn btn-sm btn-light btn-outline-secondary {%- if page.layout == 'contributors' %} active" aria-current="page{% endif -%}" type="button">
                Contributors
            </a>
            <div class="btn-group">
                <button class="btn btn-sm btn-light btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#electedOffices"
                    aria-controls="electedOffices">
                    Elected Offices
                </button>
                <button class="btn btn-sm btn-light btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#ballotMeasures"
                    aria-controls="ballotMeasures">
                    Ballot Measures
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="electedOffices" aria-labelledby="electedOfficesLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="electedOfficesLabel">Elected Offices</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida.
        </div>
        <div class="mt-3">
            <ul class="list-group">
                {%- assign candidate_pages = current_pages | where: "layout", "contest_candidate" -%}
                {%- for p in candidate_pages -%}
                <li class="list-group-item">
                    <a href="{{ p.url | relative_url }}">{{ p.title | escape }} </a>
                </li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="ballotMeasures" aria-labelledby="ballotMeasuresLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ballotMeasuresLabel">Ballot Measures</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida.
        </div>
        <div class="mt-3">
            <ul class="list-group">
                {%- assign bm_pages = current_pages | where: "layout", "contest_bmc" -%}
                {%- for p in bm_pages -%}
                <li class="list-group-item">
                    <a href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
                </li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
</div>