<div class="card {{include.css}}">
  <div class="card-body">
    {%- if include.index -%}
    <h3 class="card-title hover-link fs-5" id="fact-{{include.index}}">{{include.title}}
      <a class="icon d-none" href="#fact-{{include.index}}"><i class="fa-regular fa-link" aria-hidden="true"></i></a>
    </h3>
    {%- else -%}
    <h3 class="card-title fs-5">{{include.title}}</h3>
    {%- endif -%}    

    {%- if include.info -%}
    <div class="card-subtitle mb-2 text-muted">
      <p class="{{include.info_css}}">{{include.info}}</p>
    </div>
    {%- endif -%}    
    <div class="card-text factoid-text fw-semibold">
        <p class="{{include.data_css}}">{{include.data}}</p>
    </div>
    {%- if include.link -%}
    <a href="{{include.link}}" class="btn btn-primary">More Info</a>
    {%- endif -%}
  </div>
  <div class="card-footer text-muted">
    <span>{{include.about}}</span>
  </div>
</div>