<div class="card {{include.css}}">
  <div class="card-body">
    {%- if include.index -%}
    <h5 class="card-title hover-link" id="fact-{{include.index}}">{{include.title}}
      <a class="icon d-none" href="#fact-{{include.index}}"><i class="fa-regular fa-link" aria-hidden="true"></i></a>
    </h5>
    {%- else -%}
    <h5 class="card-title">{{include.title}}</h5>
    {%- endif -%}    

    {%- if include.info -%}
    <div class="card-subtitle mb-2 text-muted">
      <p class="{{include.info_css}}">{{include.info}}</p>
    </div>
    {%- endif -%}    
    <div class="card-text factoid-text fw-semibold">
        <p class="{{include.data_css}}">{{include.data}}</p>
    </div>
    {%- if include.link -%}
    <a href="{{include.link}}" class="btn btn-primary">More Info</a>
    {%- endif -%}
  </div>
  <div class="card-footer text-muted">
    <p>{{include.about}}</p>
  </div>
</div>