<footer class="bg-dark text-light py-3">
        <div class="container-sm">
            <div class="row mx-auto mx-sm-0">
                <div class="col-12 col-sm-8">
                    <div class="row align-items-center">
                        <div class="col-sm-2 d-none d-sm-block">
                            <img class="img-fluid rounded" style="height:6rem;"
                                src="{{ '/assets/images/sf_cseal_2022.svg' | relative_url}}" alt="The Seal of the City of San Francisco">
                        </div>
                        <div class="col-12 col-sm-10">
                            <p>This service is provided by:</p>
                            <p class="h4">City & County of San Francisco</p>
                            <p class="h1">Ethics Commission</p>
                            <a class="link-light link-underline-opacity-50 link-underline-opacity-100-hover" href="https://sfethics.org">sfethics.org</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 mt-3 my-sm-auto">
                    <ul>
                        <li><a class="link-light link-underline-opacity-50 link-underline-opacity-100-hover" href="#">Privacy Policy</a></li>
                        <li><a class="link-light link-underline-opacity-50 link-underline-opacity-100-hover" href="#">Web Accessibility Statement</a></li>
                        <li><a class="link-light link-underline-opacity-50 link-underline-opacity-100-hover" href="#">Records Requests</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
</footer>