<footer class="navbar navbar-expand-md bg-dark text-white">
        <div class="container">
            <div class="navbar-nav">
                <div class="nav-item py-3 d-flex align-items-center mt-4">
                    <img class="img-fluid rounded me-3" style="height:6rem;"
                        src="{{ '/assets/images/sf_cseal_2022.svg' | relative_url}}" alt="City of San Francisco">
                    <div class="">
                        <p>This service is provided by:</p>
                        <p class="h4">City & County of San Francisco</p>
                        <p class="h1">Ethics Commission</p>
                        <a href="https://sfethics.org">sfethics.org</a>
                    </div>
                </div>
                <div class="nav-item py-3 mt-4 align-items-center">
                    Policy
                    <ul>
                        <li>Privacy Policy</li>
                        <li>Web Accessibility Statement</li>
                        <li>Records Requests</li>
                    </ul>
                </div>
            </div>
        </div>
    
</footer>