<footer class="bg-dark text-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="row align-items-center">
                        <div class="col-md-2 d-none d-md-block">
                            <img class="img-fluid rounded" style="height:6rem;"
                                src="{{ '/assets/images/sf_cseal_2022.svg' | relative_url}}" alt="The Seal of the City of San Francisco">
                        </div>
                        <div class="col-12 col-md-8">
                            <p>This service is provided by:</p>
                            <p class="h4">City & County of San Francisco</p>
                            <p class="h1">Ethics Commission</p>
                            <a class="text-light" href="https://sfethics.org">sfethics.org</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mt-3 my-md-auto">
                    <ul>
                        <li><a class="text-light" href="#">Privacy Policy</a></li>
                        <li><a class="text-light" href="#">Web Accessibility Statement</a></li>
                        <li><a class="text-light" href="#">Records Requests</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
</footer>