<nav id="lang-nav" class="navbar fixed-top navbar-expand-md bg-dark d-print-none" aria-labelledby="lang-nav-label">
    <div class="container">
        <div class="nav-language-links text-light">
            <span><i class="fa-regular fa-home "></i>
                <a href="#" class="text-light">English</a> |
                <a href="#" class="text-light">Español</a> |
                <a href="#" class="text-light">Filipino</a> |
                <a href="#" class="text-light">中文</a>
            </span>
        </div>
        <div class="bg-danger text-light">This site is under development - accurate figures are not represented.</div>
        <div>
            <a href="#" class="text-light">San Francisco Ethics Commission</a>
        </div>
    </div>
</nav>

<nav id="main-nav" class="navbar navbar-expand-md bg-light py-3 d-print-none" aria-labelledby="main-nav-label">
    <div class="container">
        <div class="collapse navbar-collapse">
            <a class="navbar-brand mr-auto" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a href="{{ '/about/' | relative_url }}" class="text-dark px-3 nav-link">About</a></li>
                <li class="nav-item"><a href="{{ '/elections/' | relative_url }}" class="text-dark px-3 nav-link">Elections</a></li>
                <li class="nav-item"><a href="{{ '/resources/' | relative_url }}" class="text-dark px-3 nav-link">Resources</a></li>
            </ul>
        </div>
    </div>
</nav>