<nav class="navbar navbar-expand-md bg-danger">
    <div class="container-fluid">
            <div class="mx-auto text-light">This site is under development - accurate figures are not represented.</div>
    </div>
</nav>

<nav id="main-nav" class="navbar navbar-expand-md bg-body-tertiary d-print-none bg-dark"  data-bs-theme="dark" aria-label="Main Site Navbar">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
        <button class="ms-auto navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSiteCollapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle site navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSiteCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link
                    {%- if page.title == 'About' %} active" aria-current="page{% endif -%}
                    "href="{{ '/about/' | relative_url }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link
                    {%- if page.title == 'Resources' %} active" aria-current="page{% endif -%}
                    " href="{{ '/resources/' | relative_url }}">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link
                    {%- if page.title == 'Elections' %} active" aria-current="page{% endif -%}
                    " href="{{ '/elections/' | relative_url }}">Elections</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-language"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Español</a></li>
                        <li><a class="dropdown-item" href="#">Filipino</a></li>
                        <li><a class="dropdown-item" href="#">中文</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>