<nav id="lang-nav" class="navbar navbar-expand-md bg-dark d-print-none" aria-labelledby="lang-nav-label">
  <div class="container">
    <div class="nav-language-links text-light">
      <span><i class="fa-regular fa-home "></i>
        <a href="#" class="text-light">English</a> | 
        <a href="#" class="text-light">Español</a> | 
        <a href="#" class="text-light">Filipino</a> | 
        <a href="#" class="text-light">中文</a>
      </span>
    </div>
    <div>
      <a href="#" class="text-light">San Francisco Ethics Commission</a>
    </div>
  </div>
</nav>
<nav id="main-nav" class="navbar navbar-expand-md bg-light py-3 d-print-none" aria-labelledby="main-nav-label">
  <div class="container">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
    <div>
      <a href="{{ '/about/' | relative_url }}" class="text-dark px-3">About</a>
      <a href="{{ '/elections/' | relative_url }}" class="text-dark px-3">Elections</a>
      <a href="{{ '/resources/' | relative_url }}" class="text-dark px-3">Resources</a>
    </div>
  </div>
</nav>