<div class="offcanvas offcanvas-end" tabindex="-1" id="contributorsTT" aria-labelledby="contributorsTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="contributorsTTLabel">About the contributors table</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Contributors are individuals who have made contributions to the candidate's campaign. The table lists
                contributors by their first and last names, along with the total amount they have contributed.</p>
            <p>Note: The data in this table is based on the most recent filings and may not reflect the most current
                information.</p>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="expendituresTT" aria-labelledby="expendituresTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="expendituresTTLabel">About the expenditures table</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Expenditures are the amounts spent by the candidate's campaign. The table lists expenditures by their
                type and amount.</p>
            <p>Note: The data in this table is based on the most recent filings and may not reflect the most current
                information.</p>
        </div>
    </div>
</div>