<div class="offcanvas offcanvas-start" tabindex="-1" id="contributorsTT" aria-labelledby="contributorsTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="contributorsTTLabel">About the contributors table</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Contributors are individuals who have made contributions to the candidate's campaign. The table lists
                contributors by their first and last names, along with the total amount they have contributed.</p>
            <p>Note: The data in this table is based on the most recent filings and may not reflect the most current
                information.</p>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="expendituresTT" aria-labelledby="expendituresTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="expendituresTTLabel">About the expenditures table</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Expenditures are the amounts spent by the candidate's campaign. The table lists expenditures by their
                type and amount.</p>
            <p>Note: The data in this table is based on the most recent filings and may not reflect the most current
                information.</p>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="candidate-committeesTT" aria-labelledby="candidate-committeesTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="candidate-committeesTTLabel">Candidate Controlled Committees</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Candidate Controlled Committees are a candidate's primary fundraising and expense-making entity.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>

        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="candidate-ie-committeesTT" aria-labelledby="candidate-ie-committeesTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="candidate-ie-committeesTTLabel">Third Party Committees</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Third Party Committees are entities formed to support or oppose a candidate but are independent of the candidate.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="ballot-measure-committeesTT" aria-labelledby="ballot-measure-committeesTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ballot-measure-committeesTTLabel">Ballot Measure Committees</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Ballot Measure Committees are primarily formed to support or oppose a specific ballot measure.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="top-contributorsTT" aria-labelledby="top-contributorsTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="top-contributorsTTLabel">Top Contributors</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Top Contributors are scoped within the page. For an election, the top contributors include all contributors to primarily formed committees within the election.</p>
            <p>Visit the Contributors page for an election to search contributors across committees and see all committees within an election that a contributor has given to.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="ie-supportTT" aria-labelledby="ie-supportTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ie-supportTTLabel">Third Party Support</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="ie-opposeTT" aria-labelledby="ie-opposeTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ie-opposeTTLabel">Third Party Opposition</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="ie-committeesTT" aria-labelledby="ie-committeesTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="ie-committeesTTLabel">Independent Expenditure Committees</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida. </p>
            <p>Praesent efficitur rutrum urna, ut viverra purus imperdiet at. Sed elit eros, ultricies ac consequat ac, feugiat et ante. Ut et lectus et libero ullamcorper suscipit tempor a lectus. Nulla risus ligula, pharetra quis pretium at, convallis eget nunc. Donec at metus urna. Sed sollicitudin tortor massa. </p>
            <p>Sed augue tortor, facilisis nec elit sit amet, ultrices eleifend purus. Nullam eu odio facilisis, aliquet lorem sed, pulvinar eros. Donec in sollicitudin leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
        </div>
    </div>
</div>
