---
---
/* Override theme defaults */
.mononumber {
    font-family: monospace;
}
$font-family-sans-serif: "Roboto Flex", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times, serif !default;

.table-text-right {
    text-align: right;
}
$primary: #004A80;
$secondary: #005A56;
$dark: #212529;
$red: #771a1a;
/* load _sass/bootstrap.scss */
@import "bootstrap";

/* Put any custom CSS here */
body {
    background-color: mix(white, $primary, 90%);
}
h1, h2 {
    font-family: $font-family-serif;
}
h6 {
    font-style: italic;
}
@media (min-width: 1200px) {
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem; 
    }
    h4 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1rem;
    }
}
.bg-red {
    background-color: $red !important;
}
.offcanvas.offcanvas-start {
    width: 600px;
}
.site-title {
    color: $dark;
}
.navbar a {
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}
.breadcrumb-item a {
    color: white;
}
.breadcrumb-item.active {
    color: white;
    font-weight: bold;
}
img.profile {
    border-radius: 50%;
    width: 100%;
    max-width: 16rem;
}
table {
    th {
        background-color: var(--bs-dark-bg-subtle) !important;
        white-space: nowrap;
    }
}
.dt-layout-full {
    overflow-x: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.table-row {
    row-gap: 1rem;
    @extend .mb-3;
}

// use these inside col-md-# containers
.col-table-6, .col-table-8, .col-table-4, .col-table-12 {
    @extend .bg-white;
    @extend .border;
    @extend .border-light-subtle;
    @extend .rounded;
    @extend .p-3;
    height: 100%;
}

// use these together with card
.money-card {
    text-align: center;
    // .card-text {
    //     font-size: 1.5rem;
    // }
    // .card-title {
    //     font-size: 1rem;
    // }
}
.money-card-1 {
    //background-color: mix(white, $secondary, 50%);
}
.money-card-2 {
    //background-color: mix(white, $red, 50%);
}
.contributions-expenses {
    flex-grow: 1;
    min-width: 13rem;
    max-width: 13rem;
}