---
layout: default
pagenav: true
---
<div class="bg-primary">
  <div class="container text-light py-3">
  <div class="row">
    <div class="col-md-4">
      <div class="info-name mx-5 my-3 d-flex flex-column align-items-center" data="general information">
        <img class="profile" src="{{ '/assets/images/indy_sf.png' | relative_url}}" alt="candidate profile picture" class="img-fluid">
        <h1 class="page-heading text-center">{{ page.supopp.candidate }}</h1>
      </div>      
    </div>
    <div class="col-md-8">
      <div class="info-summary">
        <h1>Fundraising & Spending Summary</h1>
        <p><span>Fundraising Committee Name: {{page.filer_name}}</span><br>
        <span>FPPC ID: {{page.filer_id}}</span><br>
        <span>Publicly Financed: [yes/no]</span></p>
        <div class="d-flex column-gap-3">
          <div class="">
            <div class="card money-card money-card-green">
              <div class="card-body">
                <h5 class="card-title">Total Contributions</h5>
                <p class="card-text"><span class="mononumber">{{page.totals[0]}}</span></p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="card money-card money-card-red">
              <div class="card-body">
                <h5 class="card-title">Total Expenditures</h5>
                <p class="card-text"><span class="mononumber">{{page.totals[1]}}</span></p>
              </div>
            </div>
          </div>
        </div>
        <p data="Dates of filings covered"><em>Date for this committee covers between {{page.dates[0]}} to {{page.dates[1]}}.</em></p>
        <div data="Committee information">
          <div>
            This is a {{page.committee_type}} Committee 
            {%- if page.pri_form -%}
              &nbsp;{{page.supopp.position}} {{page.supopp.candidate}}
            {%- endif -%}
            {%- if page.jurisdiction == "sf" -%}
              <div>
                This is a San Francisco Filer
              </div>
            {%- else if page.jurisdiction == "ca" -%}
              <div class="alert alert-info" role="alert">
                This committee files with the California Secretary of State. Data on this page is derived from electronic filings with the San Francisco Ethics Commission and a nightly download of data from the Secretary of State's office.
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>

  </div> <!-- end of top container div -->
</div> <!-- end of bg-primary div -->
  <div class="container mt-3">
  <div class="row table-row">
    <div class="col-md-6">
      <div class="cm-contributors col-table-6">
        <h4>Contributors</h4>
        <table class="table caption-top" id="contributors_table">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Total Contributions</th>
            </tr>
          </thead>
          <tbody>
              {% for contributor in page.contributors %}
            
                  <tr>
                      <td>{{ contributor[0] }}</td>
                      <td>
                        {%- if contributor[2] != "" -%}<a href="{{site.baseurl}}/committees/{{page.election}}/CA{{contributor[2]}}.html">{%- endif -%}
                        {{ contributor[1] }}
                        {%- if contributor[2] != "" -%}</a>{%- endif -%}
                      </td>
    
                      <td class="mononumber">{{ contributor[3] }}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="cm-expenditures col-table-6">
        <h4>Expenditures</h4>
        <table class="table caption-top" id="expenditures_table">
          <thead>
            <tr>
              <th scope="col">Category</th>
              <th scope="col">Total Expenditures</th>
            </tr>
          </thead>
          <tbody>
              {% for exp in page.expenditures %}
                  <tr>
                      <td>{{ exp[0] }}</td>
                      <td class="mononumber">{{ exp[1] }}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <h4>Contributor Type</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Contributor Type</th>
          <th scope="col">Amount</th>
          <th scope="col">%</th>
        </tr>
      </thead>
      <tbody>
        {% for c in page.contribution_breakdown.contributor %}
        <tr>
          <td>{{c.tx_entitycode}}</td>
          <td>{{c.tx_amount}}</td>
          <td>{{c.pct}}%</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <div class="row">
    <h4>In City Type</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">In San Francisco</th>
          <th scope="col">Amount</th>
          <th scope="col">%</th>
        </tr>
      </thead>
      <tbody>
        {% for c in page.contribution_breakdown.city %}
        <tr>
          <td>{{c.in_city}}</td>
          <td>{{c.tx_amount}}</td>
          <td>{{c.pct}}%</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="row">
    <h4>In State Type</h4>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">State</th>
          <th scope="col">Amount</th>
          <th scope="col">%</th>
        </tr>
      </thead>
      <tbody>
        {% for c in page.contribution_breakdown.state %}
        <tr>
          <td>{{c.in_ca}}</td>
          <td>{{c.tx_amount}}</td>
          <td>{{c.pct}}%</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="row">
  </div>



  <div class="row">    
    <h4>Filings</h4> 
    <table class="table caption-top dtify">
      <thead>
        <tr>
          <th scope="col">filing date</th>
          <th scope="col">form name</th>
          <th scope="col">filing startdate</th>
          <th scope="col">filing enddate</th>
          <th scope="col">filing link</th>
        </tr>
      </thead>
      <tbody>
          {% for filing in page.filings %}
        
              <tr>
                  <td>{{ filing.filing_datetime }}</td>
                  <td>{{ filing.form_name }}</td>
                  <td>{{ filing.filing_startdate }}</td>
                  <td>{{ filing.filing_enddate }}</td>
                  <td><a href="{{ filing.filing_link }}">pdf</a></td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  
  
  {{ content }}
  
</div>

<script>
  new DataTable('#contributors_table', {pageLength:10, lengthChange: false,
      order: [[2, 'desc']], columnDefs: [{ width: '35%', targets: [0,1] }], pagingType: 'simple_numbers'
  });
  new DataTable('#expenditures_table', {pageLength:10, lengthChange: false,
      order: [[2, 'desc']], columnDefs: [{ width: '35%', targets: [0,1] }], pagingType: 'simple_numbers'
  });
  new DataTable('table.dtify', {lengthMenu: [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "All"]
        ]
    });
</script>