---
layout: default
electionnav: true
---

<div class="container-md light-border-se">
    <div class="row bg-tertiary text-light">
        <div class="col-12">
            <h1 class="page-heading text-center d-flex flex-column my-3">
                <span>{{ page.candidate_name }}</span>
                <span class="fs-5">Candidate for {{page.breadcrumbs[1][0]}}</span>
            </h1>
            <div class="bg-gradient-line-tertiary"></div>
        </div>
    </div>
    <div class="row bg-tertiary text-light py-3 eth-shadow eth-border-bottom">
        <div class="col-md-6">
            <div class="info-name mx-3 d-flex flex-column" data="general information">
                <div class="info-summary">
                    <h2 id="summary-totals" class="hover-link">Fundraising & Spending Summary
                        <i data-bs-toggle="offcanvas" data-bs-target="#summary-totalsTT" class="fs-5 fa-regular fa-circle-info"></i>
                        <a class="icon d-none link-light" href="#summary-totals"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                    </h2>
                    <div>
                        <p>
                            This is the candidate's committee
                        </p>
                    </div>
                    <dl class="row">
                        <dt class="col-sm-4">Committee Name</dt>
                        <dd class="col-sm-8">{{page.filer_name}}</dd>
                        <dt class="col-sm-4">FPPC ID</dt>
                        <dd class="col-sm-8">{{page.filer_id}}</dd>
                        {%- if page.pubfi.participant == 'True' -%}
                        <dt class="col-sm-4">Publicly Financed</dt>
                        <dd class="col-sm-8">Yes</dd>
                        {%- else -%}
                        <dt class="col-sm-4">Publicly Financed</dt>
                        <dd class="col-sm-8">No</dd>
                        {%- endif -%}
                        <dt class="col-sm-4">Disclosure Statements</dt>
                        <dd class="col-sm-8"><button data-bs-toggle="offcanvas" data-bs-target="#disclosure-statementsTT" type="button" class="btn btn-sm btn-light">View</button></dd>
                    </dl>
                    {%- capture v1 %}{{page.totals[0]}}{% endcapture -%}
                    {%- capture v2 %}{{page.totals[1]}}{% endcapture -%}
                    {%- if page.pubfi.participant == 'True' -%}
                        {%- include cards-three.html
                            first_title='Total Contributions'
                            first_text=v1
                            second_title='Total Expenses'
                            second_text=v2
                            third_title='Public Funds Received'
                            third_text=page.pubfi.total
                        -%}
                    {%- else -%}
                        {%- include cards-two.html
                            wrap_css=d-flex
                            first_title='Total Contributions'
                            first_text=v1
                            second_title='Total Expenses'
                            second_text=v2
                        -%}
                    {%- endif -%}

                    <div data="Committee information">
                        <div>
                            {%- if page.jurisdiction == "sf" -%}
                            <div>
                                This is a San Francisco Filer
                            </div>
                            {%- elsif page.jurisdiction == "ca" -%}
                            <div class="alert alert-info" role="alert">
                                This committee files with the California Secretary of State. Data on this page is derived
                                from
                                electronic filings with the San Francisco Ethics Commission and a nightly download of data
                                from the
                                Secretary of State's office.
                            </div>
                            {%- endif -%}
                            <p data="Dates of filings covered">
                                <em>Data on this page is from filings between <span class="text-nowrap">{{page.dates[0]}}</span> and <span class="text-nowrap">{{page.dates[1]}}</span>.</em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mx-3 info-about" data="about this page">
                {%- include candidate-about.html -%}
            </div>
        </div>
    </div> <!-- end of bg-primary row -->

    <div class="row bg-tertiary-subtle text-dark py-3 row-gap-3">
        <div class="col-md-6">
            <div class="cm-contributors col-table-6">
                <h2 id="contributors" class="hover-link">Contributors 
                    <i data-bs-toggle="offcanvas" data-bs-target="#contributorsTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#contributors"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top" id="contributors_table">
                    <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contributor in page.contributors %}
                        <tr>
                            <td>{{ contributor[0] }}</td>
                            <td>
                                {%- if contributor[2] != "" -%}<a
                                    href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{contributor[2]}}.html">{%-
                                    endif -%}
                                    {{ contributor[1] }}
                                    {%- if contributor[2] != "" -%}</a>{%- endif -%}
                            </td>
                            <td>{{ contributor[3] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="cm-expenditures col-table-6">
                <h2 id="expenditures" class="hover-link">Expenditures 
                    <i data-bs-toggle="offcanvas" data-bs-target="#expendituresTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#expenditures"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top" id="expenditures_table">
                    <thead>
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Total Expenditures</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exp in page.expenditures %}
                        <tr>
                            <td>{{ exp[0] }}</td>
                            <td>{{ exp[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end of bg-light row -->

    <!-- Factoids -->
    <div class="row bg-tertiary-subtle text-dark py-3 row-gap-3">
        <h2 class="mb-0">Contributions Overview</h2>
        {% for factoid in page.factoids %}
        <div class="col-md-3">
            {%- include factoid.html 
                index=forloop.index 
                title=factoid.title 
                about=factoid.about 
                data=factoid.data 
                data_css=factoid.data_classes 
                info=factoid.info 
                info_css=factoid.info_classes 
            -%}
        </div>
        {% endfor %}
    </div> <!-- end of Factoids -->

    <!-- IEs -->
    <div class="row bg-tertiary-subtle text-dark py-3 row-gap-3">
        {% if page.ie_measures -%}
        <div class="col-md-6">
            <div class=" col-table-6">
                <h2 id="ie-measures" class="hover-link">Independent Expenditures Regarding Ballot Measures
                    <i data-bs-toggle="offcanvas" data-bs-target="#ie-measuresTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#ie-measures"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top dtify" id="ie-measures_table">
                    <thead>
                        <tr>
                            <th scope="col">Measure</th>
                            <th scope="col">Position</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ie in page.ie_measures %}
                        <tr>
                            <td>{{ ie.contest }}</td>
                            <td>{{ ie.position }}</td>
                            <td class="currency">{{ ie.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {%- endif %}

        {%- if page.ie_candidates -%}
        <div class="col-md-6">
            <div class=" col-table-6">
                <h2 id="ie-candidates" class="hover-link">Independent Expenditures Regarding Candidates
                    <i data-bs-toggle="offcanvas" data-bs-target="#ie-candidatesTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#ie-candidates"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top dtify" id="ie-candidates_table">
                    <thead>
                        <tr>
                            <th scope="col">Contest</th>
                            <th scope="col">Candidate</th>
                            <th scope="col">Position</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ie in page.ie_candidates %}
                        <tr>
                            <td>{{ ie.contest }}</td>
                            <td>{{ ie.candidate_name }}</td>
                            <td>{{ ie.position }}</td>
                            <td class="currency">{{ ie.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {%- endif %}
        
        {%- if page.F497P2 -%}
        <div class="col-md-6">
            <div class=" col-table-6">
                <h2 id="f497p2" class="hover-link">Late Period Contributions Made
                    <i data-bs-toggle="offcanvas" data-bs-target="#f497p2TT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#f497p2"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top dt_f497p2" id="f497p2_table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in page.F497P2 %}
                        <tr>
                            <td>
                                {%- if x.tx_cmteid -%}
                                    <a href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{x.tx_cmteid}}.html">{{ x.name }}</a>
                                {%- else -%}
                                    {{ x.name }}
                                {%- endif -%}
                            </td>
                            <td>{{ ie.position }}</td>
                            <td class="currency">{{ x.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {%- endif %}

        {%- if page.ies -%}
        <div class="col-md-6">
            <div class=" col-table-6">
                <h2 id="schedule-d" class="hover-link">Expenditures Supporting/Opposing Other Candidates, Measures and Committees
                    <i data-bs-toggle="offcanvas" data-bs-target="#schedule-dTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#schedule-d"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top dtify" id="schedule-d_table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in page.ies %}
                        <tr>
                            <td>
                                {%- if x.tx_cmteid -%}
                                    <a href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{x.tx_cmteid}}.html">{{ x.name }}</a>
                                {%- else -%}
                                    {{ x.name }}
                                {%- endif -%}
                            </td>
                            <td>{{ x.position }}</td>
                            <td class="currency">{{ x.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {%- endif %}
    </div><!-- end IEs -->

    <!--Third Party Funds-->
    <div class="row bg-primary text-light p-3 eth-shadow eth-border-top row-gap-3">
        <h2 id="third-party-totals" class="hover-link mb-0">Third Party Funds Supporting & Opposing {{page.candidate_name}}
            <a class="icon d-none link-light" href="#third-party-totals"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
        </h2>
        <div class="col-12 col-md-6">
            {%- assign tsf = 'None' -%}
            {%- unless page.third_party[0][0]=='' %}{% assign tsf = page.third_party[0][0] %}{% endunless -%}
            {%- assign tse = 'None' -%}
            {%- unless page.third_party[0][1]=='' %}{% assign tse = page.third_party[0][1] %}{% endunless -%}
            {%- include cards-two.html
                title='Total Supportive Activity'
                first_title='Contributions'
                first_text=tsf
                second_title='Expenses'
                second_text=tse
            -%}
        </div>
        <div class="col-12 col-md-6">
            {%- assign tof = 'None' -%}
            {%- unless page.third_party[1][0]=='' %}{% assign tof = page.third_party[1][0] %}{% endunless -%}
            {%- assign toe = 'None' -%}
            {%- unless page.third_party[1][1]=='' %}{% assign toe = page.third_party[1][1] %}{% endunless -%}
                {%- include cards-two.html
                title='Total Opposing Activity'
                first_title='Contributions'
                first_text=tof
                second_title='Expenses'
                second_text=toe
            -%}
        </div>
    </div><!-- end of Third Party Funds row -->

    <!--Third Party Committees-->
    <div class="row bg-primary-subtle mb-3 py-3">
        <div class="col-12">
            <div class="col-table-12">
                <h3 id="third-party-committees" class="hover-link">Third Party Committees
                    <a class="icon d-none" href="#third-party-committees"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h3>
                {% if page.third_party[3] == empty %}
                <div>No third party comittee activity reported</div>
                {% else %}
                <table id="third_party_table" class="table caption-top ie_committee">
                    <thead>
                        <tr>
                            <th scope="col" data-priority="1">Committee</th>
                            <th scope="col" data-priority="10101">Position</th>
                            <th scope="col">Funds</th>
                            <th scope="col" data-priority="2">Expenses</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for committee in page.third_party[3] %}
                        <tr>
                            <td>
                                <a href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{committee[1]}}">
                                    {{ committee[0] }}
                                </a>
                            </td>
                            <td>{{ committee[2] }}</td>
                            <td>{{ committee[3] }}</td>
                            <td>{{ committee[4] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div><!--end of Third Party Committees row-->

    {{ content }}
</div>

{%- include disclosure-statements.html
    filings=page.filings
-%}

<script>
    new DataTable('#contributors_table', {
        pageLength: 10,
        lengthChange: false,
        order: [[2, 'desc']],
        columnDefs: [
            { width: '35%', targets: [0, 1] },
            {
                targets: [2],
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        return formatAsCurrency(data);
                    }
                    return data
                }
            }
        ],
        pagingType: 'simple_numbers',
        
    });
    new DataTable('#expenditures_table', {
        pageLength: 10,
        lengthChange: false,
        order: [[2, 'desc']],
        pagingType: 'simple_numbers',
        columnDefs: [
            {
                targets: [1],
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        return formatAsCurrency(data);
                    }
                    return data
                }
            }
        ],
    });
    new DataTable('#filings_table', {
        pageLength: 5,
        lengthChange: false,
        searching: false
    });
    new DataTable('#third_party_table',{
        displayLength: -1,
        responsive: true,
        layout: {
            topStart: null,
            topEnd: null,
            bottomStart: null,
            bottomEnd: null,
        },
        lengthChange: false,
        columnDefs: [
            {
                targets: [2, 3],
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        return formatAsCurrency(data);
                    }
                    return data
                }
            },
        ],
    });
    
    new DataTable('table.dtify', {
        pageLength: 10,
        lengthChange: false,
        order: [[2, 'desc']],
        columnDefs: [
            {
                targets: [-1],
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        return formatAsCurrency(data);
                    }
                    return data
                }
            }
        ],
    });

    new DataTable('table.dt_f497p2', {
        pageLength: 10,
        lengthChange: false,
        columnDefs: [
            {
                targets: [-1],
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        return formatAsCurrency(data);
                    }
                    return data
                }
            }
        ],
    });
</script>