---
layout: default
---

<div class="container">
  
  <div class="row" data="general information">
    <h1 class="page-heading">{{ page.filer_name }}</h1>
    
  </div>

  <div class="row" data="Dates of filings covered">
    <h4>Data dates:</h4>

    <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Start Date</h5>
            <p class="card-text"><span>{{page.dates[0]}}</span></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">End Date</h5>
            <p class="card-text"><span class="mononumber">{{page.dates[1]}}</span></p>
          </div>
        </div>
    </div>
  </div>

<div class="row">
  <div>Id number: {{page.filer_id}}</div>
      
  This is a {{page.committee_type}} Committee 
  {%- if page.pri_form -%}
    &nbsp;{{page.supopp.position}} {{page.supopp.candidate}}
  {%- endif -%}

  {%- if page.jurisdiction == "sf" -%}
    <div>
      This is a San Francisco Filer
    </div>
  {%- else if page.jurisdiction == "ca" -%}
    <div class="alert alert-info" role="alert">
      This committee files with the California Secretary of State. Data on this page is derived from electronic filings with the San Francisco Ethics Commission and a nightly download of data from the Secretary of State's office.
    </div>
  {%- endif -%}
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Contributions</h5>
          <p class="card-text"><span class="mononumber">{{page.totals[0]}}</span></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Expenditures</h5>
          <p class="card-text"><span class="mononumber">{{page.totals[1]}}</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h4>Contributors</h4>
    <table class="table caption-top" id="contributors_table">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Total Contributions</th>
        </tr>
      </thead>
      <tbody>
          {% for contributor in page.contributors %}
        
              <tr>
                  <td>{{ contributor[0] }}</td>
                  <td>
                    {%- if contributor[2] != "" -%}<a href="{{site.basurl}}/committees/current/CA{{contributor[2]}}.html">{%- endif -%}
                    {{ contributor[1] }}
                    {%- if contributor[2] != "" -%}</a>{%- endif -%}
                  </td>
                  <td class="mononumber">{{ contributor[3] }}</td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>



  <div class="row">
    <h4>Expenditures</h4>
    <table class="table caption-top" id="expenditures_table">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Total Expenditures</th>
        </tr>
      </thead>
      <tbody>
          {% for exp in page.expenditures %}
        
              <tr>
                  <td>{{ exp[0] }}</td>
                  <td>
                    {%- if exp[2] != "" -%}<a href="{{site.basurl}}/committees/current/CA{{exp[2]}}.html">{%- endif -%}
                      {{ exp[1] }}
                    {%- if exp[2] != "" -%}</a>{%- endif -%}
                  </td>
                  <td class="mononumber">{{ exp[3] }}</td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>



  <div class="row">    
    <h4>Filings</h4> 
    <table class="table caption-top dtify">
      <thead>
        <tr>
          <th scope="col">filing date</th>
          <th scope="col">form name</th>
          <th scope="col">filing startdate</th>
          <th scope="col">filing enddate</th>
          <th scope="col">filing link</th>
        </tr>
      </thead>
      <tbody>
          {% for filing in page.filings %}
        
              <tr>
                  <td>{{ filing.filing_datetime }}</td>
                  <td>{{ filing.form_name }}</td>
                  <td>{{ filing.filing_startdate }}</td>
                  <td>{{ filing.filing_enddate }}</td>
                  <td><a href="{{ filing.filing_link }}">pdf</a></td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  
  
  {{ content }}
  
</div>

<script>
  new DataTable('#contributors_table', {lengthMenu: [
          [5, 10, 25, 50, -1],
          [5, 10, 25, 50, "All"]
      ],
      order: [[2, 'desc']]
  });
  new DataTable('#expenditures_table', {lengthMenu: [
          [5, 10, 25, 50, -1],
          [5, 10, 25, 50, "All"]
      ],
      order: [[2, 'desc']]
  });
  new DataTable('table.dtify', {lengthMenu: [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "All"]
        ]
    });
</script>