---
layout: default
electionnav: true
---

<div class="container-md">

    <div class="row bg-primary text-light py-3" data="general information">
        <div class="col-md-6">
            <div class="info-name mx-3 d-flex flex-column" data="general information">
                {% if page.filer_name.size > 30 %}
                    <h1 class="page-heading fs-3">{{ page.filer_name }}</h1>
                {% else %}
                    <h1 class="page-heading">{{ page.filer_name }}</h1>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="info-summary mx-3">
                <h2>Fundraising & Spending Summary</h2>
                <dl class="row">
                    <dt class="col-sm-4">Committee Name</dt>
                    <dd class="col-sm-8">{{page.filer_name}}</dd>
                    <dt class="col-sm-4">FPPC ID</dt>
                    <dd class="col-sm-8">{{page.filer_id}}</dd>
                    <dt class="col-sm-4">Disclosure Statements</dt>
                    <dd class="col-sm-8"><button data-bs-toggle="offcanvas" data-bs-target="#disclosure-statementsTT" type="button" class="btn btn-sm btn-light">View</button></dd>
                </dl>
                <div class="d-flex column-gap-3">
                    <div class="">
                        <div class="card money-card money-card-1">
                            <div class="card-body">
                                <h3 class="card-title">Total Contributions</h3>
                                <p class="card-text"><span class="currency">{{page.totals[0]}}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="card money-card money-card-2">
                            <div class="card-body">
                                <h3 class="card-title">Total Expenses</h3>
                                <p class="card-text"><span class="currency">{{page.totals[1]}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data="Committee information">
                    <div>
                        {%- if page.jurisdiction == "sf" -%}
                        <p>
                            This is a San Francisco Filer
                        </p>
                        {%- elsif page.jurisdiction == "ca" -%}
                        <div class="alert alert-info" role="alert">
                            This committee files with the <a
                href="https://cal-access.sos.ca.gov/Campaign/Committees/Detail.aspx?id={{page.filer_id}}">California
                Secretary
                of State</a>. Data on this page is derived
                            from
                            electronic filings with the San Francisco Ethics Commission and a nightly download of data
                            from the
                            Secretary of State's office.
                        </div>
                        {%- endif -%}
                        <p data="Dates of filings covered"><em>Data for this committee covers between {{page.dates[0]}}
                                to
                                {{page.dates[1]}}.</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Contributors and Expenses -->
    <div class="row bg-light text-dark py-3">
        <div class="col-md-6">
            <div class="cm-contributors col-table-6">
                <h2 id="contributors" class="hover-link">Contributors
                    <i data-bs-toggle="offcanvas" data-bs-target="#contributorsTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#contributors"><i class="fs-5 fa-regular fa-link" aria-hidden="true" aria-label="how contributors are calculated"></i></a>
                </h2>
                <table class="table caption-top" id="contributors_table">
                    <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contributor in page.contributors %}
                        <tr>
                            <td>{{ contributor[0] }}</td>
                            <td>
                                {%- if contributor[2] != "" -%}<a
                                    href="{{site.baseurl}}/committees/{{page.election}}/CA{{contributor[2]}}.html">{%-
                                    endif -%}
                                    {{ contributor[1] }}
                                    {%- if contributor[2] != "" -%}</a>{%- endif -%}
                            </td>
                            <td class="currency">{{ contributor[3] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="cm-expenditures col-table-6">
                <h2 id="expenditures" class="hover-link">Expenditures
                    <i data-bs-toggle="offcanvas" data-bs-target="#expendituresTT" class="fs-5 fa-regular fa-circle-info" aria-label="how expenditures are calculated"></i>
                    <a class="icon d-none" href="#expenditures"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top" id="expenditures_table">
                    <thead>
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Total Expenditures</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exp in page.expenditures %}
                        <tr>
                            <td>{{ exp[0] }}</td>
                            <td class="currency">{{ exp[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end of bg-light row -->
</div>

<!-- Disclosure Statements -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="disclosure-statementsTT" aria-labelledby="disclosure-statementsTTLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="disclosure-statementsTTLabel">Disclosure Statements</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at dolor a nisi accumsan egestas. Suspendisse facilisis risus a felis tincidunt, sit amet sollicitudin lectus porta. Integer porta faucibus est et gravida.
        </div>
        <table id="filings_table" class="table caption-top dtify">
            <thead>
                <tr>
                    <th scope="col">Filing Date</th>
                    <th scope="col">Form</th>
                    <th scope="col">Filing Period</th>
                </tr>
            </thead>
            <tbody>
                {% for filing in page.filings %}
                <tr>
                    <td>{{ filing.filing_datetime }}</td>
                    <td>
                        <a href="https://netfile.com/Connect2/api/public/image/{{ filing.filing_id }}">
                            {%- if filing.form_name=='FPPC497' -%}
                            FPPC Form 497 - 24-hour Contribution Report
                            {%- elsif filing.form_name=='FPPC460' -%}
                            FPPC Form 460 - Committee Campaign Statement
                            {%- elsif filing.form_name=='FPPC496' -%}
                            FPPC Form 496 - 24-hour Independent Expenditure Report
                            {%- else -%}
                            {{filing.form_name}}
                            {%- endif -%}
                        </a>
                    </td>
                    <td>{{ filing.filing_startdate }} - {{ filing.filing_enddate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div><!-- end Disclosure Statements -->

<script>
    new DataTable('#contributors_table', {
        pageLength: 10,
        lengthChange: false,
        order: [[2, 'desc']]
    }).on('draw', () => {
        formatAllCurrencyElements('contributors_table');
    });
    new DataTable('#expenditures_table', {
        pageLength: 10,
        lengthChange: false,
        order: [[2, 'desc']]
    }).on('draw', () => {
        formatAllCurrencyElements('expenditures_table');
    });
    new DataTable('table.dtify', {
        pageLength: 10,
        lengthChange: false,
    });
</script>