---
layout: default
electionnav: true
---
{%- assign ie_supporters = false -%}
{%- assign ie_opposition = false -%}

{%- for candidate in page.ie_candidates -%}
    {%- for committee in candidate.committees -%}
        {%- if committee.position == 'SUPPORT' -%}
            {%- assign ie_supporters = true -%}
        {%- endif -%}
        {%- if committee.position == 'OPPOSE' -%}
            {%- assign ie_opposition = true -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}

<div class="container-md bg-primary">
    <div class="row text-light py-3">
        <div class="col-12">
            <h1>{{page.title}}</h1>
        </div>
        <div class="col-12">
            {{ page.content }}
        </div>
        <div class="col-12">
            <p>Candidate controlled commitees are shown first</p>
            <p>learn more about candidate controlled committees blah blah blah lorem ipsum</p>

            <div class="accordion" id="accordionToc">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#tocOne" aria-expanded="false" aria-controls="tocOne">
                            Table of Contents
                        </button>
                    </h2>
                    <div id="tocOne" class="accordion-collapse collapse" data-bs-parent="#accordionToc">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#candidate-committees" class="">Candidate Controlled Committees</a></li>
                                {%- if page.ie_candidates %}<li class="list-group-item"><a href="#ie-activity" class="">Third Party Activity</a></li>{% endif -%}
                                {%- if page.contributors %}<li class="list-group-item"><a href="#top-contributors" class="">Top 10 Contributors</a></li>{% endif -%}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-2">
        <div class="col-12 col-lg-6 py-2">
            <div class="col-table-6">
                <h2 class="text-dark hover-link" id="candidate-committees">Candidate Controlled Committees
                    <i data-bs-toggle="offcanvas" data-bs-target="#candidate-committeesTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#candidate-committees"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top candidate_controlled">
                    <thead>
                        <tr>
                            <th scope="col">Candidates</th>
                            <th scope="col">Funds</th>
                            <th scope="col">Expenses</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for candidate in page.candidates %}
                        <tr>
                            <td>
                                <a href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{candidate.filer_id}}.html">
                                    {{ candidate.candidate_name }}
                                </a>
                            </td>
                            <td>{{ candidate.funds }}</td>
                            <td>{{ candidate.expenses }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th style="text-align:right">Total:</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="col-12 col-lg-6 py-2">
            {% include contributors-table.html title='Top 10 Contributors within this Contest' subtitle='Across all Candidates and Including Primarily Formed 3rd-Party Committees' contributors=page.contributors div_class='col-table-6' %}
        </div>
    </div>


    {%- if page.ie_candidates -%}
    <div class="row row-cols-2" id="ie-activity">
        <div class="col-12 col-lg-6 py-2">
            <div class="col-table-6">
                <h2 class="text-dark hover-link" id="ie-support">Third Party Support
                    <i data-bs-toggle="offcanvas" data-bs-target="#ie-supportTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#ie-support"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                {%- if ie_supporters -%}
                <table class="table caption-top ie_committee">
                    <thead>
                        <tr>
                            <th scope="col">Candidates</th>
                            <th scope="col">Funds</th>
                            <th scope="col">Expenses</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%- for candidate in page.ie_candidates -%}
                            {%- assign funds = 0 -%}
                            {%- assign expenses = 0 -%}
                            {%- for committee in candidate.committees -%}
                                {%- if committee.position == 'SUPPORT' -%}
                                    {%- assign funds = funds | plus: committee.funds -%}
                                    {%- assign expenses = expenses | plus: committee.expenses -%}
                                {%- endif -%}
                            {%- endfor -%}
                            {%- if funds > 0 or expenses > 0 -%}
                                <tr>
                                    <td>
                                        <a href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{candidate.filer_id}}.html">
                                            {{ candidate.candidate_name }}
                                        </a>
                                    </td>
                                    <td>{{ funds }}</td>
                                    <td>{{ expenses }}</td>
                                </tr>
                            {%- endif -%}
                        {%- endfor -%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th style="text-align:right">Total:</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
                {%- else -%}
                <p>No third party supportive activity has been reported.</p>
                {%- endif -%}
            </div>
        </div>

        <div class="col-12 col-lg-6 py-2">
           <div class="col-table-6">
                <h2 class="text-dark hover-link" id="ie-oppose">Third Party Opposition
                    <i data-bs-toggle="offcanvas" data-bs-target="#ie-opposeTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#ie-oppose"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                {%- if ie_opposition -%}
                <table class="table caption-top ie_committee">
                    <thead>
                        <tr>
                            <th scope="col">Candidates</th>
                            <th scope="col">Funds</th>
                            <th scope="col">Expenses</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%- for candidate in page.ie_candidates -%}
                        {%- assign funds = 0 -%}
                        {%- assign expenses = 0 -%}
                        {%- for committee in candidate.committees -%}
                            {%- if committee.position == 'OPPOSE' -%}
                                {%- assign funds = funds | plus: committee.funds -%}
                                {%- assign expenses = expenses | plus: committee.expenses -%}
                            {%- endif -%}
                        {%- endfor -%}
                        {%- if funds > 0 or expenses > 0 -%}
                            <tr>
                                <td>
                                    <a href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{candidate.filer_id}}.html">
                                        {{ candidate.candidate_name }}
                                    </a>
                                </td>
                                <td>{{ funds }}</td>
                                <td>{{ expenses }}</td>
                            </tr>
                        {%- endif -%}
                        {%- endfor -%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th style="text-align:right">Total:</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
                {%- else -%}
                <p>No third party opposition activity has been reported.</p>
                {%- endif -%}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 py-2">
            <div class="col-table-12">
                <h2 class="text-dark hover-link" id="ie-committees">Independent Expenditure Committees
                    <i data-bs-toggle="offcanvas" data-bs-target="#ie-committeesTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#ie-committees"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top all_ie_committees">
                    <thead>
                        <tr>
                            <th scope="col">Committee</th>
                            <th scope="col">Candidate</th>
                            <th scope="col">Position</th>
                            <th scope="col">Funds</th>
                            <th scope="col">Expenses</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%- for candidate in page.ie_candidates -%}
                            {%- for committee in candidate.committees -%}
                                <tr>
                                    <td>
                                        <a href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{committee.filer_id}}.html">
                                            {{- committee.committee_name -}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{candidate.filer_id}}.html">
                                            {{ candidate.candidate_name }}
                                        </a>
                                    </td>
                                    <td>{{ committee.position }}</td>
                                    <td>{{ committee.funds }}</td>
                                    <td>{{ committee.expenses }}</td>
                                </tr>
                            {%- endfor -%}
                        {%- endfor -%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="text-align:right">Total:</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    {%- endif -%}
</div>

<script>
    let layoutOptions = {
        topStart: null,
        topEnd: null,
        bottomStart: null,
        bottomEnd: null,
    }
    new DataTable('table.candidate_controlled', {
        lengthChange: false,
        displayLength: -1,
        layout: layoutOptions,
        columnDefs: [{ 
                targets: [1, 2],
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        return formatAsCurrency(data);
                    }
                    return data
                }
            },
        ],
        footerCallback: function (row, data, start, end, display) {
            let api = this.api();

            // Total over all pages
            totalExp = api
                .column(2)
                .data()
                .reduce(sumAsNum, 0);
            totalCon = api
                .column(1)
                .data()
                .reduce(sumAsNum, 0);

            // Update footer
            api.column(2).footer().innerHTML =
                formatAsCurrency(totalExp);
            api.column(1).footer().innerHTML =
                formatAsCurrency(totalCon);
        },
    });

    new DataTable('table.ie_committee', {
        displayLength: -1,
        responsive: true,
        layout: layoutOptions,
        lengthChange: false,
        columnDefs: [{ 
                targets: [1, 2],
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        return formatAsCurrency(data);
                    }
                    return data
                }
            },
        ],
        footerCallback: function (row, data, start, end, display) {
            let api = this.api();

            // Total over all pages
            totalExp = api
                .column(2)
                .data()
                .reduce(sumAsNum, 0);

            // Update footer
            api.column(2).footer().innerHTML =
                formatAsCurrency(totalExp);
        },
    });

    new DataTable('table.all_ie_committees', {
        displayLength: -1,
        responsive: true,
        layout: layoutOptions,
        lengthChange: false,
        columnDefs: [{ 
                targets: [3,4],
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        return formatAsCurrency(data);
                    }
                    return data
                }
            },
        ],
        footerCallback: function (row, data, start, end, display) {
            let api = this.api();

            // Total over all pages
            totalExp = api
                .column(4)
                .data()
                .reduce(sumAsNum, 0);

            // Update footer
            api.column(4).footer().innerHTML =
                formatAsCurrency(totalExp);
        },
    });


</script>