---
layout: default
---

<div class="container">
    <h1>{{page.title}}</h1>
    <div class="row table-row">
        <div class="col-md-12">
            <div class="cc_cm col-table-12">
                <table class="table caption-top dtify">
                  <thead>
                    <tr>
                      <th scope="col">Committee</th>
                      <th scope="col">Position</th>
                      <th scope="col">Funds</th>
                      <th scope="col">Expenses</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for committee in page.committees %}
                          <tr>
                              <td>
                                  <a href="{{site.baseurl}}/committees/{{page.election}}/CA{{committee.filer_id}}">
                                      {{ committee.committee_name }}
                                  </a>
                              </td> 
                              <td>{{ committee.position }}</td>
                              <td class="mononumber">{{ committee.funds }}</td>
                              <td class="mononumber">{{ committee.expenses }}</td>
                          </tr>
                      {% endfor %}
                  </tbody>
                  <tfoot>
                      <tr>
                          <th style="text-align:right" colspan="3">Total:</th>
                          <th class="mononumber"></th>
                      </tr>
                  </tfoot>
              </table>
            </div>
        </div>
    </div>
</div>

<script>
    let currencyOptions = {
        style: 'currency', 
        currency: 'USD', 
        maximumFractionDigits: 0
    }
    var groupColumn = 1;
    var table = $('table.dtify').DataTable({
        columnDefs: [{ visible: false, targets: groupColumn }],
        order: [[groupColumn, 'asc']],
        lengthChange: false,
        displayLength: -1,
        layout: {
            topStart: null,
            topEnd: null,
            bottomStart: null,
            bottomEnd: null,
        },
        drawCallback: function (settings) {
            var api = this.api();
            var rows = api.rows({ page: 'current' }).nodes();
            var last = null;
    
            api.column(groupColumn, { page: 'current' })
                .data()
                .each(function (group, i) {
                    if (last !== group) {
                        $(rows)
                            .eq(i)
                            .before(
                                '<tr class="group"><td colspan="4">' +
                                    group +
                                    '</td></tr>'
                            );
    
                        last = group;
                    }
                });
        },
        footerCallback: function (row, data, start, end, display) {
            let api = this.api();
    
            // Remove the formatting to get integer data for summation
            let intVal = function (i) {
                return typeof i === 'string'
                    ? i.replace(/[\$,]/g, '') * 1
                    : typeof i === 'number'
                    ? i
                    : 0;
            };
    
            // Total over all pages
            totalExp = api
                .column(3)
                .data()
                .reduce((a, b) => intVal(a) + intVal(b), 0);
            
            // Update footer
            api.column(3).footer().innerHTML =
                totalExp.toLocaleString('en-us', currencyOptions);
        },
    });
    
    // Order by the grouping
    $('table.dtify tbody').on('click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if (currentOrder[0] === groupColumn && currentOrder[1] === 'asc') {
            table.order([groupColumn, 'desc']).draw();
        }
        else {
            table.order([groupColumn, 'asc']).draw();
        }
    });
    
</script>