<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">
      <div class="container">
        {%- if layout.electionnav -%}
        <div class="election-nav-wrapper">
          {%- include election-nav.html -%}
        </div>
        {%- endif -%}
        <div class="content-wrapper">
          {{ content }}
        </div>
      </div>
    </main>

    {%- include tooltips.html -%}
    {%- include footer.html -%}

  </body>
  
</html>
