<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        this site is under development - page does not represent accurate figures
        {{ content }}
        this site is under development - page does not represent accurate figures
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
