---
layout: default
---

<h1>{{page.title}}</h1>

<h2>Candidate Controlled Committees</h2>
<table class="table caption-top dtify_both">
    <thead>
      <tr>
        <th scope="col">Contest</th>
        <th scope="col">Contributions</th>
        <th scope="col">Expenditures</th>
      </tr>
    </thead>
    <tbody>
        {% for contest in page.candidate_pf %}
            <tr>
                <td><a href="{{site.baseurl}}/elections/{{page.election}}/contests/{{contest.contest_link}}.html">
                    {{ contest.contest_name }}
                </a></td>
                <td class="mononumber">{{ contest.contributions }}</td>
                <td class="mononumber">{{ contest.expenditures }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th style="text-align:right">Total:</th>
            <th class="mononumber"></th>
            <th class="mononumber"></th>
        </tr>
    </tfoot>
</table>

<hr>

<h2>Third Party Candidate Committees</h2>
<table class="table caption-top dtify_exp">
    <thead>
      <tr>
        <th scope="col">Contest</th>
        <th scope="col">Contributions</th>
        <th scope="col">Expenditures</th>
      </tr>
    </thead>
    <tbody>
        {% for contest in page.candidate_ie %}
            <tr>
                <td><a href="{{site.baseurl}}/elections/{{page.election}}/contests/{{contest.contest_link}}.html">
                    {{ contest.contest_name }}
                </a></td>
                <td class="mononumber">{{ contest.contributions }}</td>
                <td class="mononumber">{{ contest.expenditures }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2" style="text-align:right">Total:</th>
            <th class="mononumber"></th>
        </tr>
    </tfoot>
</table>

<hr>

<h2>Ballot Measures Committees</h2>
<table class="table caption-top dtify_exp">
    <thead>
      <tr>
        <th scope="col">Contest</th>
        <th scope="col">Contributions</th>
        <th scope="col">Expenditures</th>
      </tr>
    </thead>
    <tbody>
        {% for contest in page.measures %}
            <tr>
                <td><a href="{{site.baseurl}}/elections/{{page.election}}/measures/{{contest.contest_link}}.html">
                    {{ contest.contest_name }}
                </a></td>
                <td class="mononumber">{{ contest.contributions }}</td>
                <td class="mononumber">{{ contest.expenditures }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2" style="text-align:right">Total:</th>
            <th class="mononumber"></th>
        </tr>
    </tfoot>
</table>


{{content}}

<script>
    let currencyOptions = {
        style: 'currency', 
        currency: 'USD', 
        maximumFractionDigits: 0
    }
    let layoutOptions = {
            topStart: null,
            topEnd: null,
            bottomStart: null,
            bottomEnd: null,
        }
    new DataTable('table.dtify_both', {
        columns: [ null, {type: 'num-fmt'}, {type: 'num-fmt'}],
        displayLength: -1,
        layout: layoutOptions,
        footerCallback: function (row, data, start, end, display) {
            let api = this.api();
    
            // Remove the formatting to get integer data for summation
            let intVal = function (i) {
                return typeof i === 'string'
                    ? i.replace(/[\$,]/g, '') * 1
                    : typeof i === 'number'
                    ? i
                    : 0;
            };
    
            // Total over all pages
            totalExp = api
                .column(2)
                .data()
                .reduce((a, b) => intVal(a) + intVal(b), 0);
            totalCon = api
                .column(1)
                .data()
                .reduce((a, b) => intVal(a) + intVal(b), 0);
            
            // Update footer
            api.column(2).footer().innerHTML =
                totalExp.toLocaleString('en-us', currencyOptions);
            api.column(1).footer().innerHTML =
                totalCon.toLocaleString('en-us', currencyOptions);
        }
    });

    new DataTable('table.dtify_exp', {
        columns: [ null, {type: 'num-fmt'}, {type: 'num-fmt'}],
        displayLength: -1,
        layout: layoutOptions,
        footerCallback: function (row, data, start, end, display) {
            let api = this.api();
    
            // Remove the formatting to get integer data for summation
            let intVal = function (i) {
                return typeof i === 'string'
                    ? i.replace(/[\$,]/g, '') * 1
                    : typeof i === 'number'
                    ? i
                    : 0;
            };

            // Total over all pages
            totalExp = api
                .column(2)
                .data()
                .reduce((a, b) => intVal(a) + intVal(b), 0);

            // Update footer
            api.column(2).footer().innerHTML =
                totalExp.toLocaleString('en-us', currencyOptions);
        }
    });
</script>