---
layout: default
electionnav: true
---
{% assign bgclass = 'quinary' %}
<div class="container-md light-border-se">
    <div class="row bg-{{bgclass}} text-light">
        <div class="col-12">
            <h1 class="page-heading text-center d-flex flex-column my-3">
                {% if page.filer_name.size > 30 %}
                    <span class="fs-2">{{ page.filer_name }}</span>
                {% else %}
                    <span>{{ page.filer_name }}</span>
                {% endif %}
            </h1>
            <div class="bg-gradient-line-{{bgclass}}"></div>
        </div>
    </div>
    <!-- Summary Info -->
    <div class="row bg-{{bgclass}} text-light py-3 eth-shadow eth-border-bottom" data="general information">
        <div class="col-md-6">
            <div class="info-summary mx-3">
                <h2 id="summary-totals" class="hover-link">Fundraising & Spending Summary
                    <i data-bs-toggle="offcanvas" data-bs-target="#summary-totalsTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none link-light" href="#summary-totals"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <dl class="row">
                    <dt class="col-sm-4">Name</dt>
                    <dd class="col-sm-8">{{page.filer_name}}</dd>
                    <dt class="col-sm-4">FPPC ID</dt>
                    <dd class="col-sm-8">{{page.filer_id}}</dd>
                    <dt class="col-sm-4">Disclosure Statements</dt>
                    <dd class="col-sm-8"><button data-bs-toggle="offcanvas" data-bs-target="#disclosure-statementsTT" type="button" class="btn btn-sm btn-light">View</button></dd>
                </dl>
                <div data="Committee information" class="mt-3">
                    <div>
                        <p data="Dates of filings covered">
                            <em>Data on this page is from filings between <span class="text-nowrap">{{page.dates[0]}}</span> and <span class="text-nowrap">{{page.dates[1]}}</span>.</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="info-about mx-3 d-flex flex-column" data="about this page">
                <h2>About this page</h2>
                <p>
                    This is a "Major Donor", an individual or entity that makes monetary or nonmonetary contributions to state or local officeholders, candidates, and committees totaling $10,000 or more in a calendar year.
                </p>
            </div>
        </div>
    </div><!-- end Summary Info -->

    <!-- Contributors and Expenses -->
    <div class="row bg-{{bgclass}}-subtle text-dark py-3 row-gap-3">
        <div class="col-md-6">
            <div class="cm-contributions-made col-table-6">
                <h2 id="contributions-made" class="hover-link">Contributions Made
                    <i data-bs-toggle="offcanvas" data-bs-target="#contributions-madeTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#contributions-made"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top" id="contributions-made_table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contribution in page.expenditures %}
                        <tr>
                            <td>{{ contribution[0] }}</td>
                            <td>{{ contribution[1] }}</td>
                            <td>{{ contribution[2] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div><!-- end Contributors and Expenses  -->
    
    <!-- IEs -->
    <div class="row bg-{{bgclass}}-subtle text-dark py-3 row-gap-3">
        {% if page.ie_measures -%}
        <div class="col-md-6">
            <div class=" col-table-6">
                <h2 id="ie-measures" class="hover-link">Independent Expenditures Regarding Ballot Measures
                    <i data-bs-toggle="offcanvas" data-bs-target="#ie-measuresTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#ie-measures"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top dtify" id="ie-measures_table">
                    <thead>
                        <tr>
                            <th scope="col">Measure</th>
                            <th scope="col">Position</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ie in page.ie_measures %}
                        <tr>
                            <td>{{ ie.contest }}</td>
                            <td>{{ ie.position }}</td>
                            <td class="currency">{{ ie.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {%- endif %}

        {%- if page.ie_candidates -%}
        <div class="col-md-6">
            <div class=" col-table-6">
                <h2 id="ie-candidates" class="hover-link">Independent Expenditures Regarding Candidates
                    <i data-bs-toggle="offcanvas" data-bs-target="#ie-candidatesTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#ie-candidates"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top dtify" id="ie-candidates_table">
                    <thead>
                        <tr>
                            <th scope="col">Contest</th>
                            <th scope="col">Candidate</th>
                            <th scope="col">Position</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ie in page.ie_candidates %}
                        <tr>
                            <td>{{ ie.contest }}</td>
                            <td>{{ ie.candidate_name }}</td>
                            <td>{{ ie.position }}</td>
                            <td class="currency">{{ ie.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {%- endif %}
        
        {%- if page.F497P2 -%}
        <div class="col-md-6">
            <div class=" col-table-6">
                <h2 id="f497p2" class="hover-link">Late Period Contributions Made
                    <i data-bs-toggle="offcanvas" data-bs-target="#f497p2TT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#f497p2"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top dt_f497p2" id="f497p2_table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <!-- <th scope="col">Position</th> -->
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in page.F497P2 %}
                        <tr>
                            <td>
                                {%- if x.tx_cmteid -%}
                                    <a href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{x.tx_cmteid}}.html">{{ x.name }}</a>
                                {%- else -%}
                                    {{ x.name }}
                                {%- endif -%}
                            </td>
                            <!-- <td>{{ ie.position }}</td> -->
                            <td class="currency">{{ x.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {%- endif %}

        {%- if page.ies -%}
        <div class="col-md-6">
            <div class=" col-table-6">
                <h2 id="schedule-d" class="hover-link">Expenditures Supporting/Opposing Other Candidates, Measures and Committees
                    <i data-bs-toggle="offcanvas" data-bs-target="#schedule-dTT" class="fs-5 fa-regular fa-circle-info"></i>
                    <a class="icon d-none" href="#schedule-d"><i class="fs-5 fa-regular fa-link" aria-hidden="true"></i></a>
                </h2>
                <table class="table caption-top dtify" id="schedule-d_table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in page.ies %}
                        <tr>
                            <td>
                                {%- if x.tx_cmteid -%}
                                    <a href="{{site.baseurl}}/elections/{{page.election}}/committees/CA{{x.tx_cmteid}}.html">{{ x.name }}</a>
                                {%- else -%}
                                    {{ x.name }}
                                {%- endif -%}
                            </td>
                            <td>{{ x.position }}</td>
                            <td class="currency">{{ x.total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {%- endif %}
    </div><!-- end IEs -->
</div>

{%- include disclosure-statements.html
    filings=page.filings
-%}

<script>
    new DataTable('#contributions-made_table', {
        pageLength: 10,
        lengthChange: false,
        order: [[2, 'desc']],
        columnDefs: [
            {
                targets: [1],
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        return formatAsCurrency(data);
                    }
                    return data
                }
            }
        ],
    });

    new DataTable('#filings_table', {
        pageLength: 5,
        lengthChange: false,
        searching: false
    });
    
    new DataTable('table.dtify', {
        pageLength: 10,
        lengthChange: false,
        order: [[2, 'desc']],
        columnDefs: [
            {
                targets: [-1],
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        return formatAsCurrency(data);
                    }
                    return data
                }
            }
        ],
    });
    new DataTable('table.dt_f497p2', {
        pageLength: 10,
        lengthChange: false,
        columnDefs: [
            {
                targets: [-1],
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        return formatAsCurrency(data);
                    }
                    return data
                }
            }
        ],
    });
</script>